.polaroid-card {
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    text-align: center;
    width: 300px;
    border-radius: 5px;
  }
  
  .mosaicsimg {
    width: 100%;
    height: auto;
  }
  
  .polaroid-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
  }
  
  .polaroid-title {
    font-size: 1.7em;
    flex: 1;
    text-align: left;
  }
  
  .polaroid-labels {
    font-weight: bolder;
    font-size:0.7em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .polaroid-label {
    background-color: #4F378B;
    color: white;
    padding: 4px 7px;
    margin: 2px 0;
    border-radius: 3px;
  }