@import '../index.css';

.home-page {
  text-align: center;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  margin-top: 35px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.title {
  font-size: clamp(40px, calc(7vw + 4vh), 200px);
  margin-top: 80px;
  transition: all 0.3s ease, font-size 0.3s ease, opacity 0.3s ease;
}

.description {
  font-size: clamp(12px, calc(1.2vw + 1vh), 24px);
  margin-bottom: 30px;
  max-width: 80%;
  line-height: 1.6;
  transition: opacity 0.3s ease;
}

.gallery-button {
  font-size: clamp(10px, calc(1vw + 0.8vh), 20px);
  background-color: var(--background);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex; /* Torna o botão um contêiner flexível */
  flex-direction: column;
  align-items: center; /* Alinha os filhos verticalmente no centro */
  justify-content: center; /* Opcional: centraliza horizontalmente */
  gap: 10px; /* Espaçamento entre o texto e a imagem */
  cursor: pointer;
}

.gallery-button:hover {
  background-color: var(--background-light); /* Hover mais claro */
}

.down-arrow {
  width: 25%; /* Ajuste conforme necessário para o tamanho da seta */
}

/* Ajusta o botão no rodapé e centraliza */
.footer {
  margin-top: auto; /* Empurra o botão para o final do contêiner */
  display: flex; /* Torna flexível para centralizar */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  padding: 20px 0; /* Espaçamento ao redor */
}

.gallery-container {
  margin-bottom: 100px;
}