@import "index.css";

body {
  min-height: 100vh;
  background: var(--background);
  color: #333;
}

p {
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.gallery_content{
  padding-top: 60px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  width: 90%;
  margin: 0 auto;
  max-height: 100vh;
  box-sizing: border-box;
}

.Title-detail{
  font-family: "Kaushan Script", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: white;
  text-align: center;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: clamp(200px, 100%, 700px);
  max-height: 100%;
  box-sizing: border-box;
}

.Description-detail{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color: white;
  text-align: left;
}

.card{
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  gap: 5px;

  padding: 10px;
  border-radius: 10px;

  width: 100%;
  box-sizing: border-box;
}

.mosaic-image{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.theme-list {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.theme-title {
  font-family: var(--title-font), serif;
  font-size: 1.7rem;
  font-weight: 600;

  margin-inline-end: 20px;
}

.theme-label {
  background-color: var(--background);
  color: white;
  padding: 4px 10px;
  border-radius: 5px;
  font-weight: 300;
}

#openseadragon-viewer {
  width: 100%;
  aspect-ratio: 16/9;

  /* overflow: hidden;
  border-radius: 5px; */
}