
:root {
  --background: #4f378b;
  --background-light: #d1c4e9;

  --title-font: "Kaushan Script", serif;
  --text-font: "Inter", sans-serif;
}

body {
  font-family: var(--text-font), sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font), serif;
  font-weight: bold;
  margin: 0;
}